// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// colors
$green: #7FB457;
$grey: #9A9B9C;
$red: #E66349;
$white: #FFFFFF;
$dark-blue: #45516D;
$dark-grey: #9DA4BC;
$blue: #3A61A0;

// text style
$line-24: 24px;

@mixin regular-size-text {
    font-size: 18px;
    line-height: $line-24;
}

@mixin small-size-text {
    font-size: 14px;
    line-height: $line-24;
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    font-family: Assistant;
}

body {
    background: url(../img/leaves_left.png) -120px 20% no-repeat, url(../img/leaves_right.png) right -90px top 30% no-repeat, url(../img/bg_mobile_left.png) left top no-repeat, url(../img/bg_mobile_right.png) right top no-repeat;
}

.page-wrapper {
    padding: 30px 15px;
}

// header
.header {
    &__title {
        color: $blue;
        font-size: 24px;
        line-height: 30px;
        font-weight: 800;
        text-align: center;
    }
}

// main
.main {
    &__switches {
        margin-top: 18px;
    }

    &__buy-btn {
        @include flex;

        justify-content: center;
        text-decoration: none;
        height: 58px;
        width: 100%;
        background-color: $green;
        cursor: pointer;
        color: $white;
        border-radius: 29px;
        margin: 27px 0 47px;
        font-size: 32px;
        font-weight: 700;

        &_disabled {
            background-color: $grey;
            pointer-events: none;
        }
    }
}

.switches {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.switch {
    display: flex;
    border-radius: 20px;
    border: 1px solid $dark-grey;
    background-color: $white;
    height: 40px;

    input {
        display: none;
    }

    &__label {
        cursor: pointer;
        width: 100%;
        color: $grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type="radio"]:checked {
        + label {
            background: $blue;
            color: $white;
            border-radius: 23px;
        }
    }
}

.switches__switch-quantity {
    label {
        font-size: 24px;
        line-height: 25px;;
        font-weight: 700;
    }
}

.switches__switch-type {
    label {
        font-size: 16px;
        line-height: $line-24;
    }
}

.goods-info {
    @include flex-column;
    color: $dark-blue;
    font-weight: 700;

    &__subscribe-info {
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: $grey;
        font-weight: 400;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 15px -15px -20px;
        padding: 15px;

        &.hidden {
            display: none;
        }
    }

    &__img-wrapper {
        height: 267px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }

    &__stamp-img {
        position: absolute;
        top: 25px;
        left: 40px;
    }

    &__pack-img {
        width: 100%;
    }

    &__price {
        font-size: 48px;
        color: $blue;
        margin-top: -20px;
    }

    &__month {
        font-size: 32px;
    }

    &__text {
        @include regular-size-text;
    }

    &__retail {
        color: $red;
        text-decoration: line-through
    }

    &__savings {
        color: $green;
    }
}

.subscribe-info {
    &__checkbox {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 32px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        color: $dark-blue;
    }
      
    &__checkbox {
        input {
            display: none;
        }
    }
      
    span {
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        border-radius: 4px;
        border: 1px solid $dark-grey;
    } 

    &__checkbox {
        input {
            &:checked ~ span {
                background-color: $blue;
            }
        }
    }

    span {
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
      
    &__checkbox {
        input {
            &:checked ~ span {
                &:after {
                    display: block;
                }
            }
        }
    }

    &__checkbox {
        span {
            &:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
            }
        }
    }
}

// footer
.delivery-info {
    @include flex;
    margin: 0 15px;

    &__info-wrapper {
        @include flex-column;
        @include small-size-text;

        justify-content: center;
        gap: 12px;
        margin: 0 17px;
    }
}

.guarantee {
    @include flex-column;

    text-align: center;
    margin-top: 33px;

    &__order-backed {
        @include regular-size-text;
        color: $green;
        font-weight: 800;
        margin: 8px 20px 0;
    }

    &__refund {
        @include regular-size-text;
        color: $dark-blue;
        margin-top: 3px;
        font-weight: 600;
    }

    &__additional-info {
        @include small-size-text;

        color: $grey;
    }
}

@media (min-width: $breakpoint-tablet) {
    body {
        background: url(../img/leaves_left.png) -150px 5% no-repeat, url(../img/leaves_right.png) right -90px top 20% no-repeat, url(../img/bg_mobile_left.png) left top no-repeat, url(../img/bg_mobile_right.png) right top no-repeat;
        background-size: 300px, 250px, contain, contain;
    }

    .page-wrapper {
        max-width: 344px;
        margin: auto;
    }

    .main {
        &__switches {
            margin-top: 23px;
        }

        &__buy-btn {
            margin: 12px 0 83px;
        }
    }

    .goods-info {
        &__text {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    .switches {
        gap: 17px;
    }

    .guarantee {
        margin-top: 53px;
    
        &__order-backed {
            white-space: nowrap;
        }
    
        &__refund {
            width: 680px;
            margin: 30px 0 15px;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    body {
        background: url(../img/leaves_left.png) -120px 5% no-repeat, url(../img/leaves_right.png) right -75px top 20% no-repeat, url(../img/bg_desktop_left.png) left top no-repeat, url(../img/bg_desktop_right.png) right top no-repeat;
        background-size: 250px, 200px, contain, contain;
    }

    .main {
        &__switches {
            margin-top: 26px;
        }

        &__buy-btn {
            margin: 12px 0 47px;
        }
    }

    .guarantee {
        margin-top: 43px;
    
        &__order-backed {
            white-space: nowrap;
        }
    
        &__refund {
            white-space: nowrap;
            width: fit-content;
        }
    }
}