// breakpoints
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// colors
$green: #7FB457;
$grey: #9A9B9C;
$red: #E66349;
$white: #FFFFFF;
$dark-blue: #45516D;
$dark-grey: #9DA4BC;
$blue: #3A61A0;